<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fwp.demo.dao.OrderMapper">

    <!--
        配置自定义结果集
        id属性：自定义结果集的唯一标识
        type属性：结果集类型
        autoMapping属性：多表查询时，必须设置为true，Order对象和tb_order表的属性和字段才会进行自动映射
     -->
    <resultMap id="orderAndUserResultMap" type="Order" autoMapping="true">
        <!--配置Order的主键映射-->
        <id column="id" property="id"/>
        <!--
           association标签：用于对一的映射
           property属性：类中的关联属性的名称
           javaType属性：属性对应的类型
           autoMapping属性:autoMapping属性：多表查询时，必须设置为true，User对象和tb_user表的属性和字段才会进行自动映射
         -->
        <association property="user" javaType="User" autoMapping="true">
            <!--配置User的主键映射-->
            <id column="uid" property="id"></id>
        </association>
    </resultMap>

    <!-- 一对一查询 -->
    <select id="queryOrderDetail" resultMap="orderAndUserResultMap" >
            SELECT
                *,u.id as uid
            FROM
                tb_order o INNER JOIN tb_user u ON o.user_id = u.id
            WHERE
                o.order_number = #{orderNumber}
     </select>
</mapper>
